h1{
  font-family:Verdana;
  font weight:Normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

*{
  background-color: Black;
  text-align: center;
}

.link {
  color:Aquamarine;
  font-size: 16px;
}
